@font-face {
  font-family: "brand";
  src: url("font/Pecita.otf");
}
html,
body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  font-family: "Raleway";
  letter-spacing: 4px;
  color: #333;
  background-color: #f1f3f6;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: 300;
  transition: 0.5s ease-in-out;
}
a:hover {
  transition: 0.5s ease-in-out;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

strong {
  font-weight: bold;
}

.btn {
  color: #333;
  padding: 7px 15px;
  border-radius: 6px;
  transition: 0.5s ease-in-out;
}
.btn:hover {
  box-shadow: 1px 1px 2px #d6d8db, -1px -1px 2px #ffffff;
  transition: 0.5s ease-in-out;
}
.btn:focus {
  box-shadow: none;
}
.btn.btn-circle {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #333;
  width: 50px;
  height: 50px;
}
.btn.btn-social {
  border: 2px solid #333;
  box-shadow: 4px 4px 7px #d6d8db, -4px -4px 7px #ffffff;
  min-width: 175px;
}
.btn.btn-menu {
  padding: 15px;
  border: none;
  text-align: end;
}
.btn.btn-menu div {
  height: 2px;
  width: 30px;
  background-color: #333;
  margin-bottom: 0.75rem;
  transition: 0.5s ease-in-out;
}
.btn.btn-menu div:last-child {
  margin-bottom: 0;
}
.btn.btn-menu[aria-expanded=true] div:last-child {
  width: 18px;
  transition: 0.5s ease-in-out;
}
.btn.btn-menu:hover {
  box-shadow: none;
}

.project-co-selection {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}
.project-co-selection .btn {
  min-width: 175px;
  box-shadow: 4px 4px 7px #d6d8db, -4px -4px 7px #ffffff;
}
.project-co-selection .btn:last-child {
  border-right: none;
}
.project-co-selection .btn:hover {
  border: 2px solid #333;
}
.project-co-selection .btn.active {
  border: 2px solid #333;
}

nav #menu {
  padding: 15px 0;
  position: relative;
}

section {
  display: flex;
  align-items: center;
}
section.vh-100 {
  min-height: 100vh;
}
section.vh-75 {
  height: 75vh;
}

.row {
  align-items: center;
}

.title h1 {
  font-size: 60px;
}
.title p {
  margin-bottom: 10px;
}

.tx-justify {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}

.preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: #f1f3f6;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.preloader .title {
  margin-left: 0;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.5s ease-in-out;
}
.preloader .title .portfolio {
  text-align: end;
}

#main::before {
  content: "";
  position: fixed;
  left: 33.3%;
  height: 100%;
  border-right: 1px solid rgba(68, 68, 68, 0.07);
}
#main::after {
  content: "";
  position: fixed;
  right: 33.3%;
  height: 100%;
  border-left: 1px solid rgba(68, 68, 68, 0.07);
}
#main .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .info .title {
  width: 70%;
}
#main .info .background,
#main .info .social {
  width: 30%;
  text-align: end;
}
#main .info .background ul,
#main .info .social ul {
  list-style: none;
}
#main .info .background ul li,
#main .info .social ul li {
  margin-bottom: 1rem;
}

.project,
.employer {
  margin-bottom: 50px;
}
.project .project__list,
.project .employer__list,
.employer .project__list,
.employer .employer__list {
  border-bottom: 0px solid #f1f3f6;
  transition: 0.5s ease-in-out;
}
.project .project__list .project__list__title,
.project .project__list .employer__list__title,
.project .employer__list .project__list__title,
.project .employer__list .employer__list__title,
.employer .project__list .project__list__title,
.employer .project__list .employer__list__title,
.employer .employer__list .project__list__title,
.employer .employer__list .employer__list__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.project .project__list .project__list__title h1,
.project .project__list .employer__list__title h1,
.project .employer__list .project__list__title h1,
.project .employer__list .employer__list__title h1,
.employer .project__list .project__list__title h1,
.employer .project__list .employer__list__title h1,
.employer .employer__list .project__list__title h1,
.employer .employer__list .employer__list__title h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}
.project .project__list .project__list__title p,
.project .project__list .employer__list__title p,
.project .employer__list .project__list__title p,
.project .employer__list .employer__list__title p,
.employer .project__list .project__list__title p,
.employer .project__list .employer__list__title p,
.employer .employer__list .project__list__title p,
.employer .employer__list .employer__list__title p {
  margin-bottom: 0;
}
.project .project__list .project__list__title[aria-expanded=true] button,
.project .employer__list .project__list__title[aria-expanded=true] button,
.employer .project__list .project__list__title[aria-expanded=true] button,
.employer .employer__list .project__list__title[aria-expanded=true] button {
  transform: rotate(90deg);
  transition: 0.5s ease-in-out;
}
.project .project__list .project__list__body,
.project .project__list .employer__list__body,
.project .employer__list .project__list__body,
.project .employer__list .employer__list__body,
.employer .project__list .project__list__body,
.employer .project__list .employer__list__body,
.employer .employer__list .project__list__body,
.employer .employer__list .employer__list__body {
  transition: 0.5s ease-in-out;
}
.project .project__list .project__list__body .row,
.project .project__list .employer__list__body .row,
.project .employer__list .project__list__body .row,
.project .employer__list .employer__list__body .row,
.employer .project__list .project__list__body .row,
.employer .project__list .employer__list__body .row,
.employer .employer__list .project__list__body .row,
.employer .employer__list .employer__list__body .row {
  align-items: flex-start;
  padding: 20px 15px;
}
.project .project__list .project__list__body .row h3,
.project .project__list .employer__list__body .row h3,
.project .employer__list .project__list__body .row h3,
.project .employer__list .employer__list__body .row h3,
.employer .project__list .project__list__body .row h3,
.employer .project__list .employer__list__body .row h3,
.employer .employer__list .project__list__body .row h3,
.employer .employer__list .employer__list__body .row h3 {
  margin-bottom: 20px;
}
.project .project__list:hover,
.project .employer__list:hover,
.employer .project__list:hover,
.employer .employer__list:hover {
  border-bottom: 1px solid #b6b7b9;
  transition: 0.5s ease-in-out;
}

.about {
  width: 70%;
  margin: 0 auto 100px auto;
}
.about p {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}

@media only screen and (max-width: 991px) {
  .title h1 {
    font-size: 3rem;
  }
  #main .info {
    flex-direction: column;
    text-align: center;
  }
  #main .info .title {
    width: 100%;
  }
  #main .info .background {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
  }
  .about {
    width: 80%;
  }
  .about p {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  nav #menu {
    text-align: center;
    background-color: rgba(241, 243, 246, 0.8);
    border: 1px solid #dee2e6;
    border-radius: 6px;
  }
  nav #menu ul li {
    padding: 0.5rem;
  }
  .btn.btn-social {
    margin-bottom: 0.75rem;
  }
  #main .info .background {
    width: 100%;
  }
  .about {
    width: 90%;
  }
  .project .project__list,
  .project .employer__list,
  .employer .project__list,
  .employer .employer__list {
    border-bottom: 1px solid #dee2e6;
  }
  .project .project__list .project__list__title h1,
  .project .project__list .employer__list__title h1,
  .project .employer__list .project__list__title h1,
  .project .employer__list .employer__list__title h1,
  .employer .project__list .project__list__title h1,
  .employer .project__list .employer__list__title h1,
  .employer .employer__list .project__list__title h1,
  .employer .employer__list .employer__list__title h1 {
    font-size: 2rem;
  }
  .project .project__list .project__list__title button,
  .project .project__list .employer__list__title button,
  .project .employer__list .project__list__title button,
  .project .employer__list .employer__list__title button,
  .employer .project__list .project__list__title button,
  .employer .project__list .employer__list__title button,
  .employer .employer__list .project__list__title button,
  .employer .employer__list .employer__list__title button {
    display: none;
  }
}/*# sourceMappingURL=custom.css.map */