@font-face {
  font-family: "brand";
  src: url("font/Pecita.otf");
}
html,
body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  font-family: "Raleway";
  letter-spacing: 4px;
  color: #333;
  background-color: #f1f3f6;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: 300;
  transition: 0.5s ease-in-out;
}
a:hover {
  transition: 0.5s ease-in-out;
  color: #333;
}

strong {
  font-weight: bold;
}

.btn {
  color: #333;
  padding: 7px 15px;
  border-radius: 6px;
  border: 2px solid #333;
  transition: 0.5s ease-in-out;
  min-width: 175px;
}
.btn:hover {
  box-shadow: 1px 1px 2px #d6d8db, -1px -1px 2px #ffffff;
  transition: 0.5s ease-in-out;
}
.btn.btn-circle {
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.btn.btn-icon {
  color: #f1f3f6;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

header #menu {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
}

section {
  display: flex;
  align-items: center;
}
section.vh-75 {
  height: 75vh;
}

.row {
  align-items: center;
}

.title h1 {
  font-size: 60px;
}
.title p {
  margin-bottom: 10px;
}

.tx-justify {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}

.preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: #f1f3f6;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.preloader .title {
  margin-left: 0;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.5s ease-in-out;
}
.preloader .title .portfolio {
  text-align: end;
}

.main-bg {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
}
.main-bg .line {
  width: 33.33%;
  height: 100%;
  border-right: 1px solid rgba(68, 68, 68, 0.07);
}

#main {
  min-height: 100vh;
}
#main .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .info .title {
  width: 70%;
}
#main .info .background,
#main .info .social {
  width: 30%;
  text-align: end;
}
#main .info .background ul,
#main .info .social ul {
  list-style: none;
}
#main .info .background ul li,
#main .info .social ul li {
  margin-bottom: 1rem;
}

.project,
.employer {
  margin-bottom: 50px;
}
.project .project__list,
.project .employer__list,
.employer .project__list,
.employer .employer__list {
  border-bottom: 0px solid #f1f3f6;
  transition: 0.5s ease-in-out;
}
.project .project__list .project__list__title,
.project .project__list .employer__list__title,
.project .employer__list .project__list__title,
.project .employer__list .employer__list__title,
.employer .project__list .project__list__title,
.employer .project__list .employer__list__title,
.employer .employer__list .project__list__title,
.employer .employer__list .employer__list__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.project .project__list .project__list__title h1,
.project .project__list .employer__list__title h1,
.project .employer__list .project__list__title h1,
.project .employer__list .employer__list__title h1,
.employer .project__list .project__list__title h1,
.employer .project__list .employer__list__title h1,
.employer .employer__list .project__list__title h1,
.employer .employer__list .employer__list__title h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}
.project .project__list .project__list__title p,
.project .project__list .employer__list__title p,
.project .employer__list .project__list__title p,
.project .employer__list .employer__list__title p,
.employer .project__list .project__list__title p,
.employer .project__list .employer__list__title p,
.employer .employer__list .project__list__title p,
.employer .employer__list .employer__list__title p {
  margin-bottom: 0;
}
.project .project__list .project__list__title[aria-expanded=true] button,
.project .employer__list .project__list__title[aria-expanded=true] button,
.employer .project__list .project__list__title[aria-expanded=true] button,
.employer .employer__list .project__list__title[aria-expanded=true] button {
  transform: rotate(90deg);
  transition: 0.5s ease-in-out;
}
.project .project__list .project__list__body,
.project .project__list .employer__list__body,
.project .employer__list .project__list__body,
.project .employer__list .employer__list__body,
.employer .project__list .project__list__body,
.employer .project__list .employer__list__body,
.employer .employer__list .project__list__body,
.employer .employer__list .employer__list__body {
  transition: 0.5s ease-in-out;
}
.project .project__list .project__list__body .row,
.project .project__list .employer__list__body .row,
.project .employer__list .project__list__body .row,
.project .employer__list .employer__list__body .row,
.employer .project__list .project__list__body .row,
.employer .project__list .employer__list__body .row,
.employer .employer__list .project__list__body .row,
.employer .employer__list .employer__list__body .row {
  align-items: flex-start;
  padding: 20px 15px;
}
.project .project__list .project__list__body .row h3,
.project .project__list .employer__list__body .row h3,
.project .employer__list .project__list__body .row h3,
.project .employer__list .employer__list__body .row h3,
.employer .project__list .project__list__body .row h3,
.employer .project__list .employer__list__body .row h3,
.employer .employer__list .project__list__body .row h3,
.employer .employer__list .employer__list__body .row h3 {
  margin-bottom: 20px;
}
.project .project__list:hover,
.project .employer__list:hover,
.employer .project__list:hover,
.employer .employer__list:hover {
  border-bottom: 1px solid #b6b7b9;
  transition: 0.5s ease-in-out;
}

.about {
  width: 70%;
  margin: 0 auto 100px auto;
}
.about p {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}

@media only screen and (max-width: 767px) {
  .btn {
    min-width: 150px;
  }
  .title div {
    display: flex;
    flex-direction: column;
  }
  .title div a {
    margin-bottom: 0.5rem;
  }
}/*# sourceMappingURL=custom.css.map */