$white: #f1f3f6;
$light_grey: #dee2e6;
$dark_grey: #333;

@font-face {
    font-family: "brand";
    src: url("font/Pecita.otf");
}

html,
body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Raleway';
    letter-spacing: 4px;
    color: $dark_grey;
    background-color: $white;
}

a {
  color: $dark_grey;
  text-decoration: none;
  font-weight: 300;
  transition: .5s ease-in-out;

  &:hover {
      transition: .5s ease-in-out;
      color: $dark_grey;
  }
}

strong {
    font-weight: bold;
}

.btn {
    color: $dark_grey;
    padding: 7px 15px;
    border-radius: 6px;
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: 1px 1px 2px #d6d8db, -1px -1px 2px #ffffff;
        transition: .5s ease-in-out;
    }

    &:focus {
        box-shadow: none;
    }

    &.btn-circle {
        padding: 10px;
        border-radius: 50%;
        border: 2px solid $dark_grey;
        width: 50px;
        height: 50px;
    }

    &.btn-social {
        border: 2px solid $dark_grey;
        box-shadow: 4px 4px 7px #d6d8db, -4px -4px 7px #ffffff;
        min-width: 175px;
    }

    &.btn-menu {
        padding: 15px;
        border: none;
        text-align: end;

        div {
            height: 2px;
            width: 30px;
            background-color: $dark_grey;
            margin-bottom: .75rem;
            transition: .5s ease-in-out;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &[aria-expanded=true] {
            
            div {

                &:last-child {
                    width: 18px;
                    transition: .5s ease-in-out;
                }
            }
        }

        &:hover {
            box-shadow: none;
        }
    }
}

nav {
    #menu {
        padding: 15px 0;
        position: relative;
    }
}

section {
    display: flex;
    align-items: center;

    &.vh-100 {
        min-height: 100vh;
    }

    &.vh-75 {
        height: 75vh;
    }
}

.row {
    align-items: center;
}

.title {

    h1 {
        font-size: 60px;
        // font-weight: 600;
    }

    p {
        margin-bottom: 10px;
    }
}

.tx-justify {
    text-align: justify;
    text-align-last: center;
}

.preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: $white;
    overflow: hidden;
    display: flex;
    align-items: center;

    .title {
        margin-left: 0;
        text-align: left;
        width: fit-content;
        transition: .5s ease-in-out;

        .portfolio {
            text-align: end;
        }
    }
}

// .main-bg {
//     position: fixed;
//     display: flex;
//     width: 100%;
//     height: 100%;

//     .line {
//         width: 33.33%;
//         height: 100%;
//         border-right: 1px solid rgba(68, 68, 68, 0.07);
//     }
// }

#main {

    &::before {
        content: '';
        position: fixed;
        left: 33.3%;
        height: 100%;
        border-right: 1px solid rgba(68, 68, 68, 0.07);
    }

    &::after {
        content: '';
        position: fixed;
        right: 33.3%;
        height: 100%;
        border-left: 1px solid rgba(68, 68, 68, 0.07);
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            width: 70%;
        }

        .background,
        .social {
            width: 30%;
            text-align: end;
            
            ul {
                list-style: none;

                li {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.project,
.employer {
    margin-bottom: 50px;

    .project__list,
    .employer__list {
        border-bottom: 0px solid $white;
        transition: .5s ease-in-out;

        .project__list__title,
        .employer__list__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
    
            h1 {
                font-size: 60px;
                font-weight: 600;
                margin-bottom: 0;
            }
        
            p {
                margin-bottom: 0;
            }
        }

        .project__list__title[aria-expanded="true"] {    
            button {
                transform: rotate(90deg);
                transition: .5s ease-in-out;
            }

        }

        .project__list__body,
        .employer__list__body {
            transition: .5s ease-in-out;

            .row {
                align-items: flex-start;
                padding: 20px 15px;

                h3 {
                    margin-bottom: 20px;
                }
            }
        }
    
        &:hover {
            border-bottom: 1px solid #b6b7b9;
            transition: .5s ease-in-out;

            // button {
            //     transform: rotate(90deg);
            //     transition: .5s ease-in-out;
            // }
        }
    }
}

.about {
    width: 70%;
    margin: 0 auto 100px auto;

    p {
        text-align: justify;
        text-align-last: center;
    }
}


@media only screen and (max-width: 991px) {
    
    .title {
        
        h1 {
            font-size: 3rem;
        }
    }

    #main {
    
        .info {
            flex-direction: column;
            text-align: center;
    
            .title {
                width: 100%;
            }
    
            .background {
                margin: 2rem auto;
                width: 80%;
                text-align: center;
            }
        }
    }

    .about {
        width: 80%;
    
        p {
            text-align: center;
        }
    }
}


@media only screen and (max-width: 767px) {

    nav {
        #menu {
            text-align: center;
            background-color: rgba(241, 243, 246, .8);
            border: 1px solid $light_grey;
            border-radius: 6px;

            ul {
                li {
                    padding: .5rem;
                }
            }
        }
    }

    .btn {

        &.btn-social {
            margin-bottom: .75rem;
        }
    }

    #main {
    
        .info {
    
            .background {
                width: 100%;
            }
        }
    }

    .about {
        width: 90%;
    }

    .project,
    .employer {
    
        .project__list,
        .employer__list {
            border-bottom: 1px solid $light_grey;
    
            .project__list__title,
            .employer__list__title {
        
                h1 {
                    font-size: 2rem;
                }

                button {
                    display: none;
                }
            }
        }
    }
}