
@font-face {
  font-family: "brand";
  src: url("font/Pecita.otf");
}

html,
body {
  margin: 0;
  height: 100%;
  font-weight: 300;
  font-family: 'Raleway';
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section {
  width: 100vw;
  overflow: scroll;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 100px;
  width: 100%;
}

#intro,
#about,
#experience {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f1f3f6;
  /* background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  background: linear-gradient(135deg, #414141, #3b3b3d, #2e2c34, #1e1c2a, #110d21, #0a031e); */
}

.name_position {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    margin: 0 100px;
    width: 100%;
    text-align: center;
}

#intro .name_position h1 {
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    text-align: left;
    text-shadow: 7px 7px 14px #d6d8db, -7px -7px 14px #ffffff;
}

#intro .name_position h1 span {
    font-weight: lighter;
}

#intro .name_position p {
    font-size: 18px;
    letter-spacing: 3px;
    margin: 0 0 30px 0;
}

#intro .name_position a {
    margin: 10px;
}

.scroll_arrow {
    width: 50%;
    margin: 0 100px;
    display: inline-flex;
    flex-direction: column-reverse;
}

#masthead {
  position: fixed;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  z-index: 9999;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

#masthead a.brand {
  font-family: "brand";
  font-weight: normal;
  font-size: 36px;
  margin-left: 100px;
}

#masthead div.nav {
  margin-right: 100px;
  display: flex;
}

#masthead .nav_btn {
  margin-left: 50px;
}

#masthead .container {
  display: none;
}

#masthead .anchor-nav a {
  margin: 1rem 2rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 0px solid #333;
  transition: 0.3s;
}

#masthead .anchor-nav a:last-child {
  margin-right: 0;
}

#masthead .anchor-nav a:hover {
  border-bottom: 1px solid #333;
  transition: 0.3s;
}

#masthead .anchor-nav a.active {
  border-bottom: 1px solid #333;
}

#masthead .anchor-nav .bar1,
#masthead .anchor-nav .bar2,
#masthead .anchor-nav .bar3 {
  height: 2px;
  background-color: #3f3f3f;
  margin: 6px 0;
  transition: 0.4s;
}

#masthead .anchor-nav .bar1,
#masthead .anchor-nav .bar3 {
  width: 35px;
}

#masthead .anchor-nav .bar2 {
  width: 25px;
  margin: auto;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 0px);
  transform: rotate(-45deg) translate(-4px, 0px);
  height: 1px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -8px);
  transform: rotate(45deg) translate(-10px, -8px);
  height: 1px;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #f1f3f6;
}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
  /* border-right: 1px solid #f00; */
}
#panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  /* display: block; */
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;

}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}
#panel-1 .left_info,
#panel-2 .left_info,
#panel-3 .left_info,
#panel-4 .left_info {
  display: flex;
  flex-direction: column;
  width: 30%;
}
#panel-1 .left_info h1,
#panel-2 .left_info h1,
#panel-3 .left_info h1,
#panel-4 .left_info h1{
  font-size: 80px;
  line-height: 70px;
  font-weight: bold;
  border: 2px solid #f1f3f6;
  margin: 0;
  margin-left: -8px;
  text-shadow: 7px 7px 14px #d6d8db, -7px -7px 14px #ffffff;
}
#panel-1 .left_info h1 {
  color: #07a479;
}
#panel-2 .left_info h1 {
  color: #131f74;
}
#panel-3 .left_info h1 {
  color: #07a479;
}
#panel-4 .left_info h1 {
  color: #36acd2;
}
#panel-1 .left_info h4,
#panel-2 .left_info h4,
#panel-3 .left_info h4,
#panel-4 .left_info h4 {
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#panel-1 .left_info img, 
#panel-2 .left_info img, 
#panel-3 .left_info img, 
#panel-4 .left_info img {
  display: none;
}

#panel-1 .left_info p,
#panel-2 .left_info p,
#panel-3 .left_info p,
#panel-4 .left_info p{
  font-size: 16px;
  /* letter-spacing: 2px; */
  margin-bottom: 10px;
  text-align: justify;
}
#panel-1 .left_info li::before,
#panel-1 .left_info a  {
  background-color: #07a479;
}
#panel-2 .left_info li::before,
#panel-2 .left_info a  {
  background-color: #131f74;
}
#panel-3 .left_info li::before,
#panel-3 .left_info a  {
  background-color: #07a479;
}
#panel-4 .left_info li::before,
#panel-4 .left_info a  {
  background-color: #36acd2;
}
#panel-1 .right_info,
#panel-2 .right_info,
#panel-3 .right_info,
#panel-4 .right_info {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px;
}
#panel-1 .right_info img,
#panel-2 .right_info img,
#panel-3 .right_info img,
#panel-4 .right_info img {
  border-radius: 20px;
  width: auto;
  max-width: 100%;
  height: 100%;
}

img.box-shadow {
  box-shadow: 7px 7px 14px #d6d8db, -7px -7px 14px #ffffff;
  border: 5px solid #f1f3f6;

}

#panel-5 .left_info,
#experience .left_info {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-right: 20px;
}
#panel-5 .left_info h1,
#experience .left_info h1 {
  font-size: 60px;
  margin: 0;
}
#about .left_info p {
  text-align: justify;
}
#panel-5 .right_info,
#experience .right_info {
  display: block !important;
  width: 70%;
  padding-left: 20px;
}
#panel-5 .right_info .project_list,
#experience .right_info .company_list {
  border-bottom: solid 1px #333;
}
#panel-5 .right_info .project_list .header,
#experience .right_info .company_list .header {
  display: flex;
  justify-content: space-between;
}
#panel-5 .right_info .project_list h1,
#experience .right_info .company_list h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  line-height: 35px;
}

#about .left_info {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.bttn {
  background-color: #333;
  color: #f1f3f6;
  border-radius: 50px;
  padding: 10px 20px;
  width: fit-content;
  border: 2px solid #f1f3f6;
  box-shadow: 7px 7px 14px #d6d8db, -7px -7px 14px #ffffff;
  margin-top: 10px;
}

ul.tools {
  list-style: none;
  padding: 0;
}

ul.tools li {
  margin-bottom: 5px;
  font-weight: bold;
}

ul.tools li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
  border: 2px solid #f1f3f6;
  box-shadow: 7px 7px 14px #d6d8db, -7px -7px 14px #ffffff;
  margin-right: 20px;
}

#contact,
#about {
  background-color: #f1f3f6;
  display: flex;
}

#contact .left_info {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#contact .left_info h1,
#about .left_info h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
  border: 2px solid #f1f3f6;
  text-shadow: 7px 7px 14px #d6d8db, -7px -7px 14px #ffffff;
}

#contact .left_info p {
  margin-bottom: 0;
}

#contact .left_info .contact_bttn {
  display: block;
  margin-top: 20px;
}

#contact .left_info .contact_bttn a {
  margin-right: 10px;
}

#contact .right_info,
#about .right_info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#contact .right_info img,
#about .right_info img {
  border-radius: 20px;
  width: auto;
  max-width: 100%;
  height: 100%;
}

/* SCROLL DOWN */ 
.scroll-down {
  position: absolute; 
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #333;
  font-weight: 800;
  font-size: 16px;
  overflow: visible;
}
.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 10px auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}


/* Animation Reveal  */
@keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:hesitate"] {
  animation: 4s cubic-bezier(0, 0, 0, 1) circle-in-hesitate both;
}
.ipsType_right {
    text-align: right;
  }
  .ipsType_center {
    text-align: center;
  }
  .cInnerContent {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .ipsSpacer_bottom_double {
    margin-bottom: 30px;
  }
  .ipsGrid {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .ipsGrid::before, .ipsGrid::after {
    display: table;
    content: "";
    line-height: 0;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
  }
  .ipsGrid > .ipsGrid_span5 {
    width: 40.42553191489362%;
  }
  .ipsGrid > .ipsGrid_span7 {
    width: 57.44680851063829%;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    float: left;
    margin-left: 2%;
  }
  .ipsGrid > [class*="ipsGrid_span"]:first-child {
    margin-left: 0;
  }
  .feature {
    display: flex;
    align-items: center;
  }
  .card {
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
  /*   transition: 0.3s; */
  }
  .featured-image-container .card {
    padding: 10px;
    height: 0;
    padding-bottom: calc(100% - 10px);
  }
  
  .gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
  }

  

@media only screen and (max-width: 767px) {
  section {
    width: 100vw;
    overflow: scroll;
  }
  #masthead a.brand {
    margin-left: 40px;
  }
  #masthead div.nav {
    margin-right: 40px;
    margin-top: 10px;
  }
  #masthead div nav.anchor-nav {
    display: none;
  }
  #masthead .anchor-nav a.container {
    display: inline-block;
    margin: 0;
  }
  #masthead .anchor-nav a:hover {
    border-bottom: none;
  }
  .name_position {
    margin: auto 30px;
    text-align: center;
  }
  .name_position div {
    display: flex;
    flex-direction: column;
  }
  #intro .name_position h1 {
    font-size: 50px;
  }
  #intro .name_position p {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
  }
  #intro .name_position a {
    /* margin-left: 0; */
    display: none;
  }
  .container {
    margin: auto 30px;
  }
  #panel-1 .left_info, 
  #panel-2 .left_info, 
  #panel-3 .left_info, 
  #panel-4 .left_info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #panel-1 .left_info h1, 
  #panel-2 .left_info h1, 
  #panel-3 .left_info h1, 
  #panel-4 .left_info h1 {
    font-size: 60px;
    line-height: 50px;
  }
  #panel-1 .left_info h4, 
  #panel-2 .left_info h4, 
  #panel-3 .left_info h4, 
  #panel-4 .left_info h4 {
    margin-top: 10px;
  }
  #panel-1 .left_info img, 
  #panel-2 .left_info img, 
  #panel-3 .left_info img, 
  #panel-4 .left_info img {
    margin: 20px 0;
    border: 20px;
    display: block;
    border-radius: 10px;
  }
  #panel-1 .right_info, 
  #panel-2 .right_info, 
  #panel-3 .right_info, 
  #panel-4 .right_info {
    display: none;
  }
  #panel-5 .container,
  #contact .container,
  #experience .container {
    flex-direction: column;
  }
  #panel-5 .left_info,
  #contact .left_info,
  #about .left_info,
  #experience .left_info {
    width: 100%;
    margin-bottom: 40px;
  }
  #panel-5 .left_info h1,
  #contact .left_info h1,
  #about .left_info h1 {
    font-size: 40px;
  }
  #panel-5 .left_info h1 br,
  #panel-5 .left_info a,  
  #contact .left_info h1 br {
    display: none;
  }
  #panel-5 .right_info .project_list h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  #experience .right_info .company_list h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  #panel-5 .right_info .project_list h4, 
  #panel-5 .right_info .project_list p {
    margin-top: 0;
    margin-bottom: 5px;
  }
  #experience .right_info .company_list h4,
  #experience .right_info .company_list p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  #panel-5 .right_info, 
  #experience .right_info {
    width: 100%;
    padding-left: 0;
  }
  #contact .right_info,
  #about .right_info {
    display: none;
  }
  #contact .left_info .contact_bttn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  #contact .right_info img {
    display: none;
  }
  #experience .right_info #intern_lava,
  #experience .right_info #lava h1 span,
  #experience .right_info #synergy h4 span,
  #experience .right_info #synergy h1 span {
    display: none;
  }
  #experience .right_info .company_list p {
    text-align: justify;
    text-align-last: left;
  }
  #experience .right_info .company_list {
    margin-bottom: 10px;
  }
}


  

@media only screen and (min-width: 768px) and (max-width: 991px) {
  section {
    width: 100vw;
    overflow: scroll;
  } 
  #masthead a.brand {
    margin-left: 40px;
  }
  #masthead nav {
    margin-right: 40px;
  }
  #masthead .anchor-nav a.anchor {
    display: none;
  }
  #masthead .anchor-nav a.container {
    display: inline-block;
    margin: 0;
  }
  #masthead .anchor-nav a:hover {
    border-bottom: none;
  }
  .name_position {
    margin: auto 30px;
    text-align: center;
  }
  #intro .name_position h1 {
    font-size: 50px;
    text-align: center;
  }
  #intro .name_position p {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
  }
  .container {
    margin: auto 30px;
  }
  #panel-1 .left_info, 
  #panel-2 .left_info, 
  #panel-3 .left_info, 
  #panel-4 .left_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #panel-1 .left_info p, 
  #panel-2 .left_info p, 
  #panel-3 .left_info p, 
  #panel-4 .left_info p {
    text-align: center;
  }
  #panel-1 .left_info h1, 
  #panel-2 .left_info h1, 
  #panel-3 .left_info h1, 
  #panel-4 .left_info h1 {
    font-size: 60px;
    line-height: 50px;
  }
  #panel-1 .left_info h4, 
  #panel-2 .left_info h4, 
  #panel-3 .left_info h4, 
  #panel-4 .left_info h4 {
    margin-top: 10px;
  }
  #panel-1 .left_info img, 
  #panel-2 .left_info img, 
  #panel-3 .left_info img, 
  #panel-4 .left_info img {
    margin: 20px 0;
    border: 20px;
    display: block;
  }
  #panel-1 .left_info ul, 
  #panel-2 .left_info ul, 
  #panel-3 .left_info ul, 
  #panel-4 .left_info ul {
    text-align: left;
  }
  #panel-1 .right_info, 
  #panel-2 .right_info, 
  #panel-3 .right_info, 
  #panel-4 .right_info {
    display: none;
  }
  #panel-5 .container,
  #contact .container,
  #experience .container,
  #about .container {
    flex-direction: column;
  }
  #panel-5 .left_info,
  #contact .left_info,
  #experience .left_info,
  #about .left_info {
    width: 100%;
    margin-bottom: 40px;
  }
  #about .left_info {
    text-align: center;
    text-align-last: center;
  }
  #panel-5 .left_info h1,
  #contact .left_info h1 {
    font-size: 40px;
  }
  #panel-5 .left_info h1 br,
  #panel-5 .left_info a,  
  #contact .left_info h1 br {
    display: none;
  }
  #panel-5 .right_info .project_list h1, 
  #experience .right_info .company_list h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  #panel-5 .right_info .project_list h4, 
  #experience .right_info .company_list h4,
  #panel-5 .right_info .project_list p, 
  #experience .right_info .company_list p {
    margin-top: 0;
    margin-bottom: 5px;
  }
  #panel-5 .right_info, 
  #experience .right_info {
    width: 100%;
    padding-left: 0;
  }
  #contact .right_info {
    display: none;
  }
  #contact .left_info .contact_bttn {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  }
  #contact .left_info {
    text-align: center;
  }
  #experience .right_info #lava h1 span {
    display: none;
  }
}




  

@media only screen and (min-width:992px) and (max-width: 1024px) {
  section {
    width: 100vw;
    overflow: scroll;
  }
  #masthead a.brand {
    margin-left: 40px;
  }
  #masthead nav {
    margin-right: 40px;
  }
  #masthead .anchor-nav a.container {
    display: none;
    margin: 0;
  }
  #masthead .anchor-nav a.anchor {
    display: inline;
  }
  #masthead .anchor-nav a:hover {
    border-bottom: none;
  }
  .name_position {
    margin: auto 30px;
    text-align: center;
  }
  #intro .name_position h1 {
    font-size: 50px;
    text-align: center;
  }
  #intro .name_position p {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
  }
  .container {
    margin: auto 30px;
  }
  #panel-1 .left_info, 
  #panel-2 .left_info, 
  #panel-3 .left_info, 
  #panel-4 .left_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #panel-1 .left_info p, 
  #panel-2 .left_info p, 
  #panel-3 .left_info p, 
  #panel-4 .left_info p {
    text-align: center;
  }
  #panel-1 .left_info h1, 
  #panel-2 .left_info h1, 
  #panel-3 .left_info h1, 
  #panel-4 .left_info h1 {
    font-size: 60px;
    line-height: 50px;
  }
  #panel-1 .left_info h4, 
  #panel-2 .left_info h4, 
  #panel-3 .left_info h4, 
  #panel-4 .left_info h4 {
    margin-top: 10px;
  }
  #panel-1 .left_info img, 
  #panel-2 .left_info img, 
  #panel-3 .left_info img, 
  #panel-4 .left_info img {
    margin: 20px 0;
    border: 20px;
    display: block;
  }
  #panel-1 .left_info ul, 
  #panel-2 .left_info ul, 
  #panel-3 .left_info ul, 
  #panel-4 .left_info ul {
    text-align: left;
  }
  #panel-1 .right_info, 
  #panel-2 .right_info, 
  #panel-3 .right_info, 
  #panel-4 .right_info {
    display: none;
  }
  #panel-5 .container,
  #contact .container {
    flex-direction: column;
  }
  #panel-5 .left_info,
  #contact .left_info {
    width: 100%;
    margin-bottom: 40px;
  }
  #panel-5 .left_info h1,
  #contact .left_info h1 {
    font-size: 40px;
  }
  #panel-5 .left_info h1 br,
  #panel-5 .left_info a,  
  #contact .left_info h1 br {
    display: none;
  }
  #panel-5 .right_info .project_list h1, 
  #experience .right_info .company_list h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  #panel-5 .right_info .project_list h4, 
  #experience .right_info .company_list h4,
  #panel-5 .right_info .project_list p, 
  #experience .right_info .company_list p {
    margin-top: 0;
    margin-bottom: 5px;
  }
  /* #panel-5 .right_info,  */
  #experience .right_info {
    width: 100%;
    padding-left: 0;
  }
  #contact .right_info {
    display: none;
  }
  #contact .left_info .contact_bttn {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  }
  #contact .left_info {
    text-align: center;
  }
  #experience .left_info h1 {
    font-size: 50px;
  }
}
